@import "variables/index.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.cards_container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: fit-content;

		&__change_password {
			h3 {
				font-size: 1.25rem;
				font-weight: 700;
				line-height: 24px;
			}

			p {
				font-family: Inter, sans-serif;
				font-size: 1rem;
				font-weight: 400;
				line-height: 24px;
			}
		}

		button[type="submit"] {
			margin-top: 2.5rem;
		}

		&__card,
		&__card_form {
			padding: 1.5rem;
		}

		&__card {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			button {
				align-self: flex-start;
			}
		}
	}
}

.change_password {
	display: flex;
	flex-direction: column;
	width: fit-content;

	&__header {
		margin-bottom: 2rem;
		h3 {
			font-size: 2rem;
			font-weight: 600;
		}
		p {
			font-family: Inter, sans-serif;
			font-size: 1rem;
			font-weight: 400;
		}
	}

	&__container {
		&__item_p {
			font-family: Inter, sans-serif;
			font-size: 1rem;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 1.25rem;
		}

		&__item_form {
			padding: 0 2rem;

			&__wrapper {
				width: 90%;
			}

			&__info {
				margin-top: 0.5rem;
				display: flex;
				justify-content: space-between;
				margin-bottom: 0.875rem;

				span {
					color: $error-color;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 20px;
				}

				button {
					margin-left: auto;
					color: $primary-color;
					background-color: transparent;
					border: none;
					cursor: pointer;
				}
			}
		}
	}
}

.modal_wrapper {
	margin-right: 10rem;
}
