@import "variables/index.scss";

.wrapper {
	padding: 2rem 1.75rem;
	max-width: 300px;
	background-color: $wrapper-bg;
	border-radius: 10px;
	transition: background-color 200ms ease-out;

	&:hover {
		background-color: $wrapper-bg-hover;
	}

	.icon {
		display: block;
		width: fit-content;
		margin-bottom: 12px;
	}

	.title {
		color: $text-color;
		font-family: Montserrat, sans-serif;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 24px;
	}

	.button {
		margin-top: 24px;
	}
}
