@import "variables/index.scss";

.wrapper {
	header {
		font-size: 1.25rem;
		font-weight: 600;
		font-family: Inter, sans-serif;
		margin: 3.75rem 10rem;
		a {
			color: #000;
			text-decoration: none;
		}
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h1 {
			font-family: Montserrat, sans-serif;
			font-weight: 600;
			line-height: 36px; /* 120% */
			font-size: 1.875rem;
		}

		span {
			font-family: Inter, sans-serif;
			font-weight: 400;
			line-height: 24px; /* 150% */
			font-size: 1rem;
		}

		.form {
			font-family: Inter, sans-serif;

			max-width: 570px;
			width: 50%;
			margin-top: 3rem;
			display: flex;
			flex-direction: column;
			background-color: $form-bg;
			border-radius: 6px;
			padding: 56px 70px;

			input {
				border-radius: 6px;
				padding: 22px 12px;
				border: none;
				margin-bottom: 16px;
			}

			button {
				margin-top: 24px;
				align-self: center;
				font-weight: 400;
				font-size: 1rem;
				width: 130px;
				height: fit-content;
				background-color: $btn-bg;
				color: #fff;
				padding: 15px 18px;
				border-radius: 6px;
				border: none;
				transition: opacity 300ms ease-out;

				&:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}

			.forgotPassword {
				text-decoration: underline;
				cursor: pointer;
				margin-top: 16px;
				color: $primary-color;
				align-self: center;
				font-size: 0.875rem;
			}
		}

		.info {
			h6 {
				margin: 0;

				font-weight: 600;
				font-size: 1rem;
				color: $text-color;
			}

			p {
				width: 70%;
				margin-top: 16px;
				text-align: left;
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}
		}
	}
}
