@import "variables/index.scss";

.wrapper {
	min-width: 300px;
	min-height: 100vh;
	background-color: $wrapper-bg;

	.padding {
		padding-left: 16px;
		margin-bottom: 1.7rem;

		.logo {
			margin: 3rem 0;
			width: 15rem;
		}
	}

	.nav_container {
		height: calc(100% - 245px - 24px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.nav_list {
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;

			&__item {
				background: none;
				width: 100%;
				height: fit-content;
				padding: max(1rem) 0.5rem;
				border-top: 0.5px solid transparent;
				border-bottom: 0.5px solid transparent;
				border-left: 0;
				border-right: 0;
				transition: all 200ms ease-out;

				&.active {
					border-top: 0.5px solid $wrapper-bg-hover;
					border-bottom: 0.5px solid $wrapper-bg-hover;
					background-color: $active-page;

					* {
						stroke: $primary-color;
					}

					&:hover {
						cursor: default;
						background-color: $active-page;
					}
					a {
						cursor: default;
					}
				}

				&:hover {
					cursor: pointer;
					background-color: $wrapper-bg-hover;

					.nav_item {
						&__icon {
							fill: $wrapper-bg-hover;
						}
					}
				}

				.nav_item {
					width: 100%;
					display: inline-flex;
					align-items: center;
					gap: 12px;

					&__icon {
						width: 3rem;
						height: 3rem;
						display: flex;
						align-items: center;
						justify-content: center;

						svg {
							width: 1.75rem;
							height: 1.75rem;
							object-fit: contain;
						}
					}

					span {
						color: $text-color;
						font-family: Inter, sans-serif;
						font-weight: 400;
						font-size: 1.125rem;
					}
				}
			}
		}
	}
}

.modal_exit {
	margin-right: 15rem;

	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 2rem;
	}

	&__buttons {
		display: flex;
		gap: 1.5rem;
	}
}
