@import "variables/index.scss";

.modal {
	h3 {
		margin-bottom: 1rem;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__radios {
		display: flex;
		gap: 1rem;
		padding-block: 2rem 0.5rem;
	}

	&__buttons {
		margin-top: 2rem;
		display: flex;
		gap: 1rem;
	}
}

.table_wrapper {
	padding-right: 0.5rem;
	overflow-y: auto;
	min-width: 90%;
	height: inherit;

	.table {
		color: $text-color;
		font-family: Inter, sans-serif;
		line-height: 20px;
		width: 100%;
		display: table;
		table-layout: auto;
		border-collapse: collapse;

		&__progress {
			width: fit-content;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
		}

		.deleting {
			transition: all 200ms ease-out;
			opacity: 0.5;
			scale: 0;
		}

		thead,
		th {
			position: sticky;
			top: -2px;
			z-index: 1;
		}

		tr,
		th {
			padding: 1rem 1rem 1rem 0;

			background-color: $wrapper-bg;
			font-size: 1rem;
			font-weight: 600;
			text-align: center;

			&:first-child {
				border-radius: 6px 0 0 6px;
			}

			&:last-child {
				border-radius: 0 6px 6px 0;
				text-align: left;
			}
		}

		tr,
		td {
			background-color: inherit;
			font-size: 0.875rem;
			font-weight: 400;
			height: 4rem;
			text-align: center;
		}

		tr {
			transition: background-color 200ms ease-out;
			border-radius: 6px;
			border-bottom: 1px solid $wrapper-bg;

			&:hover {
				background-color: $wrapper-bg;
			}
		}
	}
}
