@import "variables/index.scss";

.cards_container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	gap: 1.5rem;
	margin-bottom: 2.5rem;
}

.tasks {
	h2 {
		font-family: Montserrat, sans-serif;
		color: $text-color;
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 24px;
		margin-bottom: 32px;
	}
}
