@import "variables/index.scss";

.cards_container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	gap: 1.5rem;
	margin-bottom: 2.5rem;

	&__card_title {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 20px;
	}

	button {
		align-self: flex-start;
	}
}

.tasks {
	display: flex;
	flex-direction: column;
	height: 75%;

	h2 {
		font-family: Montserrat, sans-serif;
		color: $text-color;
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 24px;
		margin-bottom: 32px;
	}
}
